# departments

In [4]:
import pandas as pd

departments_df = pd.read_csv("../data/clean/all_depts.csv")

display(departments_df.head())
display(departments_df.shape)
display(departments_df.dtypes)

# dummy column adds comma to the one original column to import better.

  department_id  dummy
0         Sales    NaN
1     Technical    NaN
2       Support    NaN
3    Specialist    NaN
4    Management    NaN

(5, 2)

department_id     object
dummy            float64
dtype: object

# customers

In [3]:
import pandas as pd

customers = pd.read_csv("../data/clean/customers_for_import.csv")

display(customers.head())
display(customers.shape)
display(customers.dtypes)

# dummy column adds comma to the one original column to import better.

                            customer_id  dummy
0  b584550c-641c-44d0-b308-25381125d9b9    NaN
1  1be4ea93-a4b3-46fd-9f9f-7c48b1b196d2    NaN
2  2320fd15-7b8d-4f1b-844e-d7716b6e8970    NaN
3  53fd6b84-3d16-4282-a4dc-2981250ea2de    NaN
4  a2302e13-7a77-4091-81e5-701f959100ac    NaN

(60000, 2)

customer_id     object
dummy          float64
dtype: object

# agents

In [15]:
import pandas as pd

agents = pd.read_csv("../data/clean/agents.csv")

display(agents.head())
display(agents.shape)
display(agents.dtypes)

,agent_id,first_name,last_name,agent_type,email,phone_number,department,dummy
0,e4e90091-6c3c-44e8-89c1-c2a6ab851b15,Christine,Arnold,FT,emma68@example.net,847 679 2854,Sales,NaN
1,3843d1ba-0fe8-43c4-95db-85431f587140,Sarah,Chase,FT,angelaanderson@example.com,500 667 3317,Technical,NaN
2,c72bc976-4e21-42d3-a344-df2d2176b1dc,Damon,Smith,FT,hbrady@example.org,854 256 7120,Sales,NaN
3,e6cacfb3-112a-42fa-97d2-29ddc67b9759,Mary,Simon,C,qparker@example.net,254 469 9283,Support,NaN
4,2acb7771-9ea7-4d53-9f8d-d3b24863b4cb,James,Moore,PT,silvadenise@example.net,466 446 1426,Sales,NaN

(200, 8)

agent_id         object
first_name       object
last_name        object
agent_type       object
email            object
phone_number     object
department       object
dummy           float64
dtype: object

# calls

In [6]:
import pandas as pd

calls = pd.read_csv("../data/clean/calls.csv")

display(calls.head())
display(calls.shape)
display(calls.dtypes)

,call_id,customer_id,agent_id,call_duration,call_type,issue
0,accc2764-24d5-47fa-8601-23ac1d7d89f0,b584550c-641c-44d0-b308-25381125d9b9,8d6d9486-30e2-40bc-8939-cdee700eebf1,50,Inbound,Complaint
1,befb90c0-aac5-4c6c-89c4-14f57d2ac30b,1be4ea93-a4b3-46fd-9f9f-7c48b1b196d2,b1f7f5f1-f9b1-4f1b-8ad3-ad6b623c40c0,67,Outbound,Complaint
2,b14d22ea-c0dd-40b3-8d18-9c82f3770b40,2320fd15-7b8d-4f1b-844e-d7716b6e8970,031914a4-aeb6-43f5-972d-9c718e2369f6,108,Outbound,Complaint
3,174f0491-3428-4d6e-b45a-7687c2811343,53fd6b84-3d16-4282-a4dc-2981250ea2de,ab4e938f-0f23-4966-b6f6-9f7286cacd45,83,Inbound,Technical Support
4,bcf0583e-a8e4-4ca6-8a69-b682d69ddd76,a2302e13-7a77-4091-81e5-701f959100ac,a47025c9-13bb-4e82-a5f9-5344b0e51c40,29,Inbound,Technical Support

(50000, 6)

call_id          object
customer_id      object
agent_id         object
call_duration     int64
call_type        object
issue            object
dtype: object

In [20]:
import pandas as pd
import numpy as np

agents = pd.read_csv("../data/clean/agents.csv")
calls = pd.read_csv("../data/clean/calls.csv")

# Get valid agent_id's
valid_agent_ids = agents['agent_id'].tolist()

# Identify invalid agent_ids in the calls DataFrame which were not in agents
invalid_agent_ids = calls[~calls['agent_id'].isin(valid_agent_ids)]['agent_id'].drop_duplicates()

print("Invalid agent_ids in calls DataFrame:")
print(invalid_agent_ids)

# Replace invalid agent_ids with a valid agent_id from the agents table --> to ensure matches
calls['agent_id'] = np.where(
    calls['agent_id'].isin(valid_agent_ids),
    calls['agent_id'],  # keep valid ids as is
    np.random.choice(valid_agent_ids, size=len(calls))
)

print(calls.head())
calls.to_csv("../data/clean/calls_fixed.csv", index=False)

Invalid agent_ids in calls DataFrame:
0        8d6d9486-30e2-40bc-8939-cdee700eebf1
1        b1f7f5f1-f9b1-4f1b-8ad3-ad6b623c40c0
2        031914a4-aeb6-43f5-972d-9c718e2369f6
3        ab4e938f-0f23-4966-b6f6-9f7286cacd45
4        a47025c9-13bb-4e82-a5f9-5344b0e51c40
                         ...
49995    05a106e6-01a7-4d57-8182-590e89452858
49996    59d8cc71-5d1f-4bad-87ab-b5f7464ae1a2
49997    5d8ba4d7-f5d7-45ce-bb04-0cb2ed5464d6
49998    b8eded43-c5a3-4a14-a8de-4af5b1b1accd
49999    698a0031-266d-4662-8b2b-168a91519e14
Name: agent_id, Length: 50000, dtype: object
                                call_id                           customer_id  \
0  accc2764-24d5-47fa-8601-23ac1d7d89f0  b584550c-641c-44d0-b308-25381125d9b9
1  befb90c0-aac5-4c6c-89c4-14f57d2ac30b  1be4ea93-a4b3-46fd-9f9f-7c48b1b196d2
2  b14d22ea-c0dd-40b3-8d18-9c82f3770b40  2320fd15-7b8d-4f1b-844e-d7716b6e8970
3  174f0491-3428-4d6e-b45a-7687c2811343  53fd6b84-3d16-4282-a4dc-2981250ea2de
4  bcf0583e-a8e4-4ca6-8a69-b682d69ddd76  a2302e13-7a77-4091-81e5-701f959100ac

                               agent_id  call_duration call_type  \
0  966d5b90-ed4b-47a1-b6b9-9bad9162d6fe             50   Inbound
1  1be01460-850c-4608-9a30-49158364609e             67  Outbound
2  8acc0156-1faa-469b-ad22-98f6e92939b0            108  Outbound
3  b88dc33d-e1f8-4af4-8c9b-21a2d0eb3d06             83   Inbound
4  a897e3ca-28e4-4866-ac84-d753b0e14f6f             29   Inbound

               issue
0          Complaint
1          Complaint
2          Complaint
3  Technical Support
4  Technical Support

In [18]:
unmatched = calls[~calls['agent_id'].isin(agents['agent_id'])]
print(unmatched[['agent_id']].drop_duplicates())

Empty DataFrame
Columns: [agent_id]
Index: []

In [3]:
# TESTING SQL CODE.
import pandas as pd

calls = pd.read_csv("../data/clean/calls_fixed.csv")

# Are call_duration is numeric?
calls['call_duration'] = pd.to_numeric(calls['call_duration'], errors='coerce')

# bucket ranges for call durations
total_calls = len(calls)
range_1_30 = ((calls['call_duration'] >= 1) & (calls['call_duration'] <= 30)).sum()
range_31_60 = ((calls['call_duration'] >= 31) & (calls['call_duration'] <= 60)).sum()
range_61_90 = ((calls['call_duration'] >= 61) & (calls['call_duration'] <= 90)).sum()
range_91_120 = ((calls['call_duration'] >= 91) & (calls['call_duration'] <= 120)).sum()
range_120_plus = (calls['call_duration'] > 120).sum()

summary = {
    'total_calls': total_calls,
    '1-30 min': range_1_30,
    '31-60 min': range_31_60,
    '61-90 min': range_61_90,
    '91-120 min': range_91_120,
    '120+ min': range_120_plus
}

summary_df = pd.DataFrame([summary])
print(summary_df)

   total_calls  1-30 min  31-60 min  61-90 min  91-120 min  120+ min
0        50000     12487      12435      12551       12527         0

In [2]:
import pandas as pd

calls = pd.read_csv("../data/clean/calls_fixed.csv")

# chunk size
chunk_size = 5000

# DataFrame chunks
chunks = [calls[i:i + chunk_size] for i in range(0, len(calls), chunk_size)]

# chunk proofing and saving
for i, chunk in enumerate(chunks):
    chunk.to_csv(f"calls_chunk_{i}.csv", index=False)
    print(f"Processed chunk {i + 1}/{len(chunks)}")

Processed chunk 1/10
Processed chunk 2/10
Processed chunk 3/10
Processed chunk 4/10
Processed chunk 5/10
Processed chunk 6/10
Processed chunk 7/10
Processed chunk 8/10
Processed chunk 9/10
Processed chunk 10/10

# abandonments

In [7]:
import pandas as pd

abandonments = pd.read_csv("../data/clean/call_abandonment.csv")

display(abandonments.head())
display(abandonments.shape)
display(abandonments.dtypes)

,call_id,customer_id,abandoned,abandonment_reason,call_duration_before_abandonment_(mins)
0,6a46e92d-eea1-4b73-8280-e984be9062f2,67fceb4d-9979-458d-83d7-278bb72071a1,False,NaN,NaN
1,9f7701fa-e09c-492d-ad17-965d3f78d7cf,b0b60b98-c26b-4762-ab03-9cd12686a342,False,NaN,NaN
2,dc2f1429-8426-4adc-b2f6-a8c71936ac06,44eeb102-aa03-4409-bc45-d5167b02108a,True,Answered by Wrong Department,8.0
3,c33d4e40-43ea-48b7-a993-0963f4c51cf5,be62532a-b9d7-49a4-9592-ef3e2dffa42b,False,NaN,NaN
4,81b1bc42-ab35-4579-94c3-c5d732ef680a,f1bca76b-4a97-49ac-b51d-51ce2e861877,True,Long Wait Time,NaN

(5000, 5)

call_id                                     object
customer_id                                 object
abandoned                                     bool
abandonment_reason                          object
call_duration_before_abandonment_(mins)    float64
dtype: object

In [9]:
abandonments['abandoned'].sum()
# counts how many calls were abandoned.

np.int64(2446)

In [1]:
import pandas as pd

abandonments = pd.read_csv("../data/clean/call_abandonment.csv")
calls = pd.read_csv("../data/clean/calls_fixed.csv")

# check if there matches between call_id and customer_id in both datasets
matched = abandonments.merge(calls, on=['call_id', 'customer_id'], how='inner')

# count matched records
print(f"Matched rows: {len(matched)}")

# check for no matches
unmatched_abandonments = abandonments[~abandonments['call_id'].isin(calls['call_id']) | ~abandonments['customer_id'].isin(calls['customer_id'])]

print(f"Unmatched abandonment records:\n{unmatched_abandonments}")

Matched rows: 0
Unmatched abandonment records:
                                   call_id  \
0     6a46e92d-eea1-4b73-8280-e984be9062f2
1     9f7701fa-e09c-492d-ad17-965d3f78d7cf
2     dc2f1429-8426-4adc-b2f6-a8c71936ac06
3     c33d4e40-43ea-48b7-a993-0963f4c51cf5
4     81b1bc42-ab35-4579-94c3-c5d732ef680a
...                                    ...
4995  4f99da29-1164-4e3a-8784-de9977418851
4996  7e9cd902-d7e2-4a7a-b026-c02de6a4343a
4997  33dde189-8b23-441f-95ed-7d5528ecfc8c
4998  7c3aefc7-6358-4356-a236-a4fa6b241800
4999  f75ab3df-d18d-46c6-94c4-c94a7ff49f94

                               customer_id  abandoned  \
0     67fceb4d-9979-458d-83d7-278bb72071a1      False
1     b0b60b98-c26b-4762-ab03-9cd12686a342      False
2     44eeb102-aa03-4409-bc45-d5167b02108a       True
3     be62532a-b9d7-49a4-9592-ef3e2dffa42b      False
4     f1bca76b-4a97-49ac-b51d-51ce2e861877       True
...                                    ...        ...
4995  da731412-86ed-4605-97ac-678346abccb7      False
4996  48092333-f137-4802-a622-eb3eafec65de      False
4997  8c6691e8-2a08-46cd-817b-013504a9b4e7      False
4998  ec25e604-b8e9-4e29-9848-b8c49dd2648d       True
4999  4d7cc073-4d1a-4431-aad0-4d06254c722f       True

                abandonment_reason  call_duration_before_abandonment_(mins)
0                              NaN                                      NaN
1                              NaN                                      NaN
2     Answered by Wrong Department                                      8.0
3                              NaN                                      NaN
4                   Long Wait Time                                      NaN
...                            ...                                      ...
4995                           NaN                                      NaN
4996                           NaN                                      NaN
4997                           NaN                                      NaN
4998                Long Wait Time                                      NaN
4999  Answered by Wrong Department                                      9.0

[5000 rows x 5 columns]

In [2]:
import pandas as pd
import numpy as np

abandonments = pd.read_csv("../data/clean/call_abandonment.csv")
calls = pd.read_csv("../data/clean/calls_fixed.csv")

# match valid call_id and customer_id pairs
valid_pairs = calls[['call_id', 'customer_id']].dropna()

# proof valid pair amounts
sampled_pairs = valid_pairs.sample(n=len(abandonments), replace=True).reset_index(drop=True)

# rename call_id and customer_id to abandonments
abandonments['call_id'] = sampled_pairs['call_id']
abandonments['customer_id'] = sampled_pairs['customer_id']

abandonments.to_csv("../data/clean/call_abandonment_fixed.csv", index=False)
print("✅ Fixed call_abandonment.csv — all IDs now match calls_fixed.csv.")

✅ Fixed call_abandonment.csv — all IDs now match calls_fixed.csv.

In [14]:
abandonments_fixed = pd.read_csv("../data/clean/call_abandonment_fixed.csv")
display(abandonments_fixed.head())
display(abandonments_fixed.info())

,call_id,customer_id,abandoned,abandonment_reason,call_duration_before_abandonment_(mins)
0,ca314cb3-4015-434e-a993-453fc849a30e,787c613f-d93f-491d-898c-83df7d771a59,False,NaN,NaN
1,ebb66183-a524-4ce1-bb42-2038ef5796d6,16c22efd-b32e-4fad-9c54-2cac00ad19dd,False,NaN,NaN
2,8b308588-8664-429e-a335-b19a92b59fbb,871aa6e5-2972-4c0a-a81d-2db4d5fca476,True,Answered by Wrong Department,8.0
3,40195bd2-b9d9-4871-8a4c-b19f0d6db003,f999ff6f-0975-4bfa-85e5-0d22e521c918,False,NaN,NaN
4,98f6a8f0-0f57-492e-93e6-f9cba1651343,4a422eef-90de-4a1e-b840-10bb25d4f2cb,True,Long Wait Time,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   call_id                                  5000 non-null   object
 1   customer_id                              5000 non-null   object
 2   abandoned                                5000 non-null   bool
 3   abandonment_reason                       2446 non-null   object
 4   call_duration_before_abandonment_(mins)  1219 non-null   float64
dtypes: bool(1), float64(1), object(3)
memory usage: 161.3+ KB

None

In [22]:
import pandas as pd

abandonments = pd.read_csv("../data/clean/call_abandonment_fixed.csv")

# 'call_duration_before_abandonment_(mins)' convert to integers and handle NaN values
abandonments['call_duration_before_abandonment_(mins)'] = abandonments['call_duration_before_abandonment_(mins)'].apply(pd.to_numeric, errors='coerce')
abandonments['call_duration_before_abandonment_(mins)'] = abandonments['call_duration_before_abandonment_(mins)'].fillna(0)  # Change NaN to 0
abandonments['call_duration_before_abandonment_(mins)'] = abandonments['call_duration_before_abandonment_(mins)'].apply(lambda x: round(x) if pd.notna(x) else 0)

# proof 'abandoned' column is of type string in "True" or "False"
abandonments['abandoned'] = abandonments['abandoned'].apply(lambda x: 'True' if x else 'False')

abandonments.to_csv("../data/clean/call_abandonment_fixed_2.csv", index=False)

display(abandonments.head())
display(abandonments.info())

,call_id,customer_id,abandoned,abandonment_reason,call_duration_before_abandonment_(mins)
0,ca314cb3-4015-434e-a993-453fc849a30e,787c613f-d93f-491d-898c-83df7d771a59,False,NaN,0
1,ebb66183-a524-4ce1-bb42-2038ef5796d6,16c22efd-b32e-4fad-9c54-2cac00ad19dd,False,NaN,0
2,8b308588-8664-429e-a335-b19a92b59fbb,871aa6e5-2972-4c0a-a81d-2db4d5fca476,True,Answered by Wrong Department,8
3,40195bd2-b9d9-4871-8a4c-b19f0d6db003,f999ff6f-0975-4bfa-85e5-0d22e521c918,False,NaN,0
4,98f6a8f0-0f57-492e-93e6-f9cba1651343,4a422eef-90de-4a1e-b840-10bb25d4f2cb,True,Long Wait Time,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   call_id                                  5000 non-null   object
 1   customer_id                              5000 non-null   object
 2   abandoned                                5000 non-null   object
 3   abandonment_reason                       2446 non-null   object
 4   call_duration_before_abandonment_(mins)  5000 non-null   int64
dtypes: int64(1), object(4)
memory usage: 195.4+ KB

None

In [21]:
print(abandonments['abandoned'].unique())

['False' 'True']

# escalations

In [10]:
import pandas as pd

escalations = pd.read_csv("../data/clean/escalations.csv")

display(escalations.head())
display(escalations.shape)
display(escalations.dtypes)

,escalation_id,customer_id,agent_id,issue_type,escalation_reason,escalated_department,resolution_status
0,eb7ee6f4-641b-4a13-a9ab-46f75e9e319b,fd219147-0546-4e46-b97a-26de84690b9e,ebe8b5a4-caf3-46a0-a28f-09257af849f5,Billing Inquiry,Customer request,Specialist,Resolved
1,f7455727-fcc6-4a13-863c-a66649381351,d6d606cc-a60a-46fb-9ce9-98f6720384fc,1ed2f01a-7906-4b5a-935c-6e77f4629d18,Technical Support,Customer request,Management,Pending
2,532c5105-87c0-4abc-a331-dac3570ffd06,0073e1bc-a5a4-4348-b3b3-5d4e5e92eb75,11c275d9-0665-4d23-8db3-bab08b992b19,Technical Support,Policy issue,Support,Closed
3,1082529b-bed0-4287-90d6-e895e2e9d7e9,383338d7-c373-41d7-9e51-d5cad7a0a77e,4c92c7ea-2a5e-4254-bb4d-d9033d98b8ab,Technical Support,Policy issue,Specialist,Pending
4,3fa6be7a-5f42-452e-9cbf-0030f0667912,7ac86e03-e281-4e23-b5c3-bfd2a2017d38,e09ad210-5a3f-4eff-905e-2ad29b22febe,Complaint,Policy issue,Specialist,Pending

(5000, 7)

escalation_id           object
customer_id             object
agent_id                object
issue_type              object
escalation_reason       object
escalated_department    object
resolution_status       object
dtype: object

In [3]:
import pandas as pd

escalations = pd.read_csv("../data/clean/escalations.csv")
customers = pd.read_csv("../data/clean/customers_for_import.csv")
agents = pd.read_csv("../data/clean/agents.csv")

# validate customer_ids and agent_ids
valid_customer_ids = set(customers['customer_id'])
valid_agent_ids = set(agents['agent_id'])

# pair escalations to valid customer and agent IDs
valid_escalations = escalations[
    escalations['customer_id'].isin(valid_customer_ids) &
    escalations['agent_id'].isin(valid_agent_ids)
]

print(f"✅ Kept {len(valid_escalations)} valid rows out of {len(escalations)} in escalations.csv")

valid_escalations.to_csv("../data/clean/escalations_fixed.csv", index=False)

✅ Kept 0 valid rows out of 5000 in escalations.csv

In [6]:
import pandas as pd
import numpy as np

escalations = pd.read_csv("../data/clean/escalations.csv")
customers = pd.read_csv("../data/clean/customers_for_import.csv")
agents = pd.read_csv("../data/clean/agents.csv")

# proof valid customer_ids and agent_ids
sampled_customer_ids = customers['customer_id'].sample(n=len(escalations), replace=True).reset_index(drop=True)
sampled_agent_ids = agents['agent_id'].sample(n=len(escalations), replace=True).reset_index(drop=True)

# replace the pairs in escalations
escalations['customer_id'] = sampled_customer_ids
escalations['agent_id'] = sampled_agent_ids

escalations.to_csv("../data/clean/escalations_fixed.csv", index=False)

print("✅ Fixed escalations.csv — all customer_id and agent_id values now match your reference tables.")
escalations_2 = pd.read_csv("../data/clean/escalations_fixed.csv")
display(escalations_2.head())

✅ Fixed escalations.csv — all customer_id and agent_id values now match your reference tables.

,escalation_id,customer_id,agent_id,issue_type,escalation_reason,escalated_department,resolution_status
0,eb7ee6f4-641b-4a13-a9ab-46f75e9e319b,00b5f017-e262-4a76-ba5d-c65346d8800d,3d337902-a266-4da9-a2f2-7ee961ea9200,Billing Inquiry,Customer request,Specialist,Resolved
1,f7455727-fcc6-4a13-863c-a66649381351,469bae47-d30e-40f0-b19c-2f96cb37189f,1be01460-850c-4608-9a30-49158364609e,Technical Support,Customer request,Management,Pending
2,532c5105-87c0-4abc-a331-dac3570ffd06,4cb07d3b-83c9-48c7-be90-2251fd21cfdf,913010a2-ce37-4a94-a11c-59c186aad3d4,Technical Support,Policy issue,Support,Closed
3,1082529b-bed0-4287-90d6-e895e2e9d7e9,d579038e-293a-4482-b1d9-ff9bf6ec89e2,11ce60ed-7b22-420a-96a1-be0dac38c79a,Technical Support,Policy issue,Specialist,Pending
4,3fa6be7a-5f42-452e-9cbf-0030f0667912,9d16689e-60f1-4d40-b8c7-e804b6959112,8c308fe2-8137-477f-8e7e-815fb6564d1f,Complaint,Policy issue,Specialist,Pending

# csat

In [13]:
import pandas as pd

csat = pd.read_csv("../data/clean/csat.csv")

display(csat.head())
display(csat.shape)
display(csat.dtypes)

,survey_id,customer_id,agent_id,survey_date,rating,comments
0,f7534db5-4436-4732-ba2b-f484533e13dd,acb6e64b-b66f-4131-9f43-3c2ee7452132,afcbaef0-7f53-46c4-8527-8d76edc7f08c,2025-06-28,5,Glass only deep song growth character child. F...
1,09ab58c7-35a2-427f-98f5-cf9d6a3c9604,d09f1519-055b-4522-9c72-2344df538ca4,d8a94d44-48fc-45ff-b9b6-55f6faa22bc4,2025-04-01,4,Themselves performance soldier middle about gu...
2,e8674db2-76a0-41f3-be2d-cfc79c80d78e,92e5234d-1d5c-4052-adbb-69c4bc319511,9856a5e1-5c63-4f32-9e7c-6027c4832b43,2025-02-22,1,Statement say strong price. Pass billion at bu...
3,0034d910-2c68-4e46-a3a5-43cc2e5b4ce0,f56d08de-80e7-4dc5-bb3a-32c1149a2c10,2e40c3da-5387-4631-b279-e4c21135bf49,2025-06-15,4,Why reason debate theory college nation. Weigh...
4,eb231962-c292-4eb8-a73b-e8e9433744ab,e5debafb-ac78-4dc9-b49e-1590934173e6,067d6802-bbc2-46ba-aa62-bf9fc1b7e1b7,2025-07-09,4,Must within through. Successful capital centra...

(10000, 6)

survey_id      object
customer_id    object
agent_id       object
survey_date    object
rating          int64
comments       object
dtype: object

In [7]:
import pandas as pd

csat = pd.read_csv("../data/clean/csat.csv")
customers = pd.read_csv("../data/clean/customers_for_import.csv")
agents = pd.read_csv("../data/clean/agents.csv")

# proof matches in customer_id
matched_customers = csat[csat['customer_id'].isin(customers['customer_id'])]

# proof for matches in agent_id
matched_agents = csat[csat['agent_id'].isin(agents['agent_id'])]

print(f"✅ Matched customer_id in csat with customers: {len(matched_customers)}")
print(f"✅ Matched agent_id in csat with agents: {len(matched_agents)}")

csat.to_csv("../data/clean/csat_fixed.csv", index=False)

✅ Matched customer_id in csat with customers: 0
✅ Matched agent_id in csat with agents: 0

In [8]:
import pandas as pd

csat = pd.read_csv("../data/clean/csat.csv")
customers = pd.read_csv("../data/clean/customers_for_import.csv")
agents = pd.read_csv("../data/clean/agents.csv")

# proof valid customer_ids and agent_ids
sampled_customer_ids = customers['customer_id'].sample(n=len(csat), replace=True).reset_index(drop=True)
sampled_agent_ids = agents['agent_id'].sample(n=len(csat), replace=True).reset_index(drop=True)

# change customer_id and agent_id in csat
csat['customer_id'] = sampled_customer_ids
csat['agent_id'] = sampled_agent_ids

csat.to_csv("../data/clean/csat_fixed.csv", index=False)
print("✅ Fixed csat.csv — all customer_id and agent_id values now match your reference tables.")

✅ Fixed csat.csv — all customer_id and agent_id values now match your reference tables.